<p id="notice"><%= notice %></p>

<% @posts.each do |post| %>
  <article>
    <h3><%= post.title %></h3>
    <p><%= distance_of_time_in_words(@time_now, post.created_at) %> ago</p></p>
    <p><%= post.body %></p>

    <% if user_signed_in? %>
      <p><%= post.user.name %></p>
    <% end %>
  </article>
<% end %>

