<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="d-flex">
      <ul>
        <li>
          <%= link_to 'Posts', posts_path %>
        </li>
      </ul>
      <ul class="d-flex">
        <li>
          <%= link_to 'New Post', new_post_path %>
        </li>
        <%if user_signed_in?%>
          <li class="mr-30">
            <%= link_to 'Sign Out', destroy_user_session_path, method: "delete" %>          
          </li>
        <% else %>
          <li class="mr-30">
            <%= link_to 'Sign In', new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </header>
     <%= yield %>
  </body>
</html>
